server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: user-service-auth
          uri: lb://USER-SERVICE
          predicates:
            - Path=/auth/**
        - id: user-service-users
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**, /admin/**
          filters:
            - AuthenticationFilter
        - id: catalog-service-read
          uri: lb://CATALOG-SERVICE
          predicates:
            - Path=/movies/**, /theatres/**, /halls/**, /shows/**
            - Method=GET
        - id: catalog-service-write
          uri: lb://CATALOG-SERVICE
          predicates:
            - Path=/movies/**, /theatres/**, /halls/**, /shows/**
            - Method=POST, PUT, DELETE
          filters:
            - AuthenticationFilter
        - id: booking-service
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/bookings/**
          filters:
            - AuthenticationFilter

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

application:
  security:
    jwt:
      secret-key: "2b51c2bb75f61d2e114dd58261ecfef9d278b6452d829a7969de3104c1d74297670a23e664dff16c898a0f8d343f9c23b99756dd9f81f7f2307ac879752fa63d42adb11c44d80262b0365858a458158efebb178315e836ddeb10a2e47c1bdfcac5cb567e64e4ad3b7804da1d9d06526944216dad7fd8f7316d68a68153305d51"
